<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
    <div class="container py-2">

        <nav class="navbar navbar-light">
            <a href="#" class="navbar-brand">
                <strong class="display-5">Wallet</strong>
            </a>
        </nav>

        <div class="container py-2">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-4">
                    <div class="input-group">
                        <strong id="wallet_amount" class="form-control form-control-lg">0</strong>
                        <button id="reload_wallet" type="button" class="btn btn-secondary btn-lg">Reload Wallet</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="row">
                <div class="col-12 pt-4">
                    <div class="input-group">
                        <span class="input-group-text">Public Key</span>
                        <textarea id="public_key" type="text" class="form-control form-control-lg"></textarea>
                    </div>
                </div>
                <div class="col-12 pt-4">
                    <div class="input-group">
                        <span class="input-group-text">Private Key</span>
                        <input id="private_key" type="text" class="form-control form-control-lg">
                    </div>
                </div>
                <div class="col-12 pt-4">
                    <div class="input-group">
                        <span class="input-group-text">Blockchain Address</span>
                        <input id="blockchain_address" type="text" class="form-control form-control-lg">
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-4">
            <h2 class="mb-3">Send Money</h2>
            <div class="row">
                <div class="col-12 pt-4">
                    <div class="input-group">
                        <span class="input-group-text">Address</span>
                        <input id="recipient_blockchain_address" type="text" class="form-control form-control-lg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 pt-4">
                    <div class="input-group">
                        <div class="input-group-text">Amount</div>
                        <input type="text" id="send_amount" class="form-control form-control-lg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col pt-4">
                    <button id="send_money_button" class="btn btn-primary btn-lg">Send</button>
                </div>
            </div>
        </div>

        <div>

        </div>

    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
        $(function () {

            $.ajax({
                url: '/wallet',
                type: 'POST',
                success: function (response) {
                    $('#private_key').val(response['private_key']);
                    $('#public_key').val(response['public_key']);
                    $('#blockchain_address').val(response['blockchain_address']);
                    console.info(response);
                },
                error: function (error) {
                    console.error(error);
                }
            });

            $('#send_money_button').click(function () {
                let confirm_text = 'Are you sure to send?';
                let confirm_result = confirm(confirm_text);
                if (confirm_result !== true) {
                    alert('Canceled');
                    return;
                }

                let transaction_data = {
                    'sender_private_key': $('#private_key').val(),
                    'sender_public_key': $('#public_key').val(),
                    'sender_blockchain_address': $('#blockchain_address').val(),
                    'recipient_blockchain_address': $('#recipient_blockchain_address').val(),
                    'value': $('#send_amount').val(),
                }

                $.ajax({
                    url: '/transaction',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(transaction_data),
                    success: function (response) {
                        console.info(response);
                        if (response.message === 'fail') {
                            alert("failed");
                            return;
                        }
                        alert('Send success');
                    },
                    error: function (error) {
                        console.error(error);
                        alert('Send failed');
                    }
                });
            });

            function reload_amount() {
                let data = {
                    'blockchain_address': $('#blockchain_address').val()
                }
                $.ajax({
                    url: '/wallet/amount',
                    type: 'GET',
                    data: data,
                    success: function (response) {
                        console.info(response);
                        let amount = response['amount'];
                        $('#wallet_amount').text(amount);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }

            $('#reload_wallet').click(function () {
                reload_amount();
            });

            setInterval(reload_amount, 10000);

        });
    </script>

</body>

</html>